<h1>{{place.title}}</h1>

<section class="details-section">
<p class="fs-5"> <u>Country:</u> {{place.address.country}}</p>
<p class="fs-5"> <u>City:</u> {{place.address.city}}:</p>
<p class="fs-5"> <u>Street:</u> {{place.address.street}}</p>
<p class="fs-5"> <u>Score:</u> {{place.review.score}}</p>
<p class="fs-5"> <u>Comments:</u> <br> {{place.review.comment}}</p>
<a class="btn btn-light btn-sm" href="/places">Back</a>
</section>

{{#if (isOwner user._id place.creator)}}
<div class="btn-group mr-2 mx-2" role="group" aria-label="Third group"></div>
<a class="btn btn-light btn-sm" href="/places/{{_id}}/edit">Edit</a>
<form action="/places/{{_id}}/delete" method="POST">
    <button class="btn btn-light btn-sm">Delete</button>
</form>
{{/if}}