<h2>Edit the place: {{place.title}}</h2>

<form action="/places/{{place._id}}/edit" method="post">
  <label>
    Title:
    <input type="text" name="title" value="{{place.title}}" />
  </label>

  <label>
    Address:
    <input type="text" name="address" />
  </label>

  <label>
    Description:
    <textarea
      name="description"
      cols="30"
      rows="4"
    >{{place.description}}</textarea>
  </label>

  <label>
    Review:
    <input
      type="number"
      name="review"
      min="1"
      max="5"
      value="{{place.review}}"
    />
  </label>

  <button>Save changes</button>
</form>