<h1>Places in our DB:</h1>

{{#each places}}
  <section class="place-summary">
    <h2>{{this.title}}</h2>

      <br />
      Review:
      {{this.review}}
      <br />
      <a href="/places/{{this._id}}">More details</a>
      <a class="edit-btn" href="/places/{{_id}}/edit">Edit</a>
      <form action="/places/{{_id}}/delete" method="POST">
        <button>Delete</button>
      </form>
    </p>

  </section>
{{/each}}